<h4 style="text-align: center; margin-top: 20px; margin-bottom: 30px;">Failed expectations</h4>

<ul class="list-group" style="margin-left: auto; margin-right: auto; max-width: 900px; margin-bottom: 20px">
  {{#each fails.failedExpectations}}
  <li class="list-group-item" style="background-color: #fff3cd;">
    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#test{{@index}}" 
    aria-expanded="true" aria-controls="test{{@index}}">
      {{this.message}}
    </button>
    <div id="test{{@index}}" class="collapse" aria-labelledby="headingThree">
      <div class="card-body">
        <pre>{{this.stack}}</pre>        
      </div>
    </div>
  </li>
  {{/each}}
</ul>