<link rel="stylesheet" href="/css/table.css">

<div class="div-table">
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>Project</th>
            <th>Last launch</th>
            <th>Last status</th>
        </tr>
        </thead>
        <tbody>
        {{#each projects.list}}
            <tr>
                <td>
                    <a href="/project/{{this._id}}">
                        <div style="font-weight: bold">{{this.name}}</div>
                    </a>
                </td>
                <td>
                    {{#if this.lastLaunchDateAgo}}
                        <span class="text-muted">{{this.lastLaunchDateAgo}}</span>
                        {{else}}
                        <div>No launches</div>
                    {{/if}}
                </td>
                <td>
                    {{#if this.lastLaunchDateAgo}}
                            {{#if this.isLastLaunchFailed}}
                                <div style="color: red;">Failed</div>
                            {{else}}
                                <div style="color: green">Passed</div>
                            {{/if}}
                        {{else}}
                        <div></div>
                    {{/if}}
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>

{{#unless projects.list}}
    <div style="font-weight: bold; text-align: center; margin-top: 20px; margin-bottom: 30px;">Add new project</div>
{{/unless}}

<div class="modal fade" id="add-project" tabindex="-1" role="dialog" aria-labelledby="add-project-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-project-label">New project</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="new_project" action="javascript:addProject()">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Project name:</label>
                        <input name="project_name" type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Description:</label>
                        <textarea name="project_description" class="form-control" id="message-text"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).on("click", '[data-target="#delete-project"]', function () {
        $('.delete-project-button').val(this.value)
    });

    function addProject() {
        $('#add-project').on('hidden.bs.modal', function(e) {
            $('[name="project_name"]').val('');
            $('[name="project_description"]').val('');
            document.location.reload();
        });

        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/project", true);
        xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
        xhr.onload = function (){
            if (xhr.status === 200){
                $('#add-project').modal('hide');
            } else {
                console.error(xhr.status);
                $('#add-project').modal('hide');
            }
        };
        xhr.onerror = xhr.onabort = function (){
            console.error('some error');
        };
        const addProjectForm = document.forms.new_project;
        xhr.send(JSON.stringify({name: addProjectForm.elements.project_name.value, description: addProjectForm.elements.project_description.value}));
    }

    let eventSource = new EventSource('/launches-update/projects');

    eventSource.onmessage = function(e) {
        document.location.reload()
    };
</script>