<link rel="stylesheet" href="/css/reports.css">
<h4 style="text-align: center; margin-top: 20px; margin-bottom: 20px;">Tests results</h4>
<div class="divTable">
<table class="table table-bordered table-hover table-striped">
    <thead>
    <tr>
        <th>Spec name</th>
        {{#each launch.browsers}}
            <th scope="col" style="text-transform: capitalize;">{{this}}</th>
        {{/each}}
    </tr>
    </thead>
    <tbody>
        {{#each launch.specsReports}}
            <tr>
            <td scope="row">{{this.specName}}</td>
            {{#each this.browsersResults}}
                {{#if_equal this.status "pending"}}
                    <td style="color: #7b6233;">! Pending</td>
                {{/if_equal}}
                {{#if_equal this.status "passed"}}
                    <td style="color: green;">&check; Passed ({{this.duration}}s)</td>
                {{/if_equal}}
                {{#if_equal this.status "failed"}}
                    <td style="color: red;">&cross; Failed ({{this.duration}}s)</td>
                {{/if_equal}}
                {{#unless this.status }}
                    <td></td>
                {{/unless}}
            {{/each}}
            </tr>
        {{/each}}
    </tbody>
</table>
</div>

<script>
    console.log('script');
    let eventSource = new EventSource('/report-update/{{launch.launchId}}');

    eventSource.onmessage = function(e) {
        document.location.reload()
    };
</script>
