<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    todo handle with js inmport-->
    <title>Reportal</title>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom box-shadow">

        {{#if projects}}
            <h5 class="my-0 mr-md-auto font-weight-normal">Reportal</h5>
            <nav class="my-2 my-md-0 mr-md-3">
            {{#if isAdmin}}
                <button type="button" class="btn btn-light" data-toggle="modal" data-target="#add-project">
                    <img class=""src="assets/add-item.svg" alt="" width="20" height="20">
                    Add new project
                </button>
            {{/if}}
            </nav>
        {{/if}}

        {{#if launches}}
            <h5 class="my-0 mr-md-auto font-weight-normal">Project: {{launches.projectName}}</h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="/projects">Projects</a>
            </nav>

            <nav class="my-2 my-md-0 mr-md-3">
            {{#if isAdmin}}
                <button type="button" class="btn btn-light" data-toggle="modal" data-target="#project-modal">
                    <img class="" src="/assets/id.svg" alt="" width="20" height="20">
                     Project info
                </button>
                <button type="button" class="btn btn-light" data-toggle="modal" data-target="#cleanUp-project">
                    Clean up
                </button>
            {{/if}}
            </nav>
        {{/if}}

        {{#if reports}}
            <h5 class="my-0 mr-md-auto font-weight-normal">Launch: #{{reports.launchName}}</h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="/projects">Projects</a>
                <a class="p-2 text-dark" href="/project/{{reports.projectId}}">Launches</a>
            </nav>
            <nav class="my-2 my-md-0 mr-md-3">
            {{#if isAdmin}}
                <button type="button" class="btn btn-light" data-toggle="modal" data-target="#delete-launch">
                    <img class="" src="/assets/id.svg" alt="" width="20" height="20">
                    Delete launch
                </button>
            {{/if}}
            </nav>
        {{/if}}

        {{#if fails}}
            <h5 class="my-0 mr-md-auto font-weight-normal">Spec: {{fails.specName}}</h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="/projects">Projects</a>
                <a class="p-2 text-dark" href="/project/{{fails.projectId}}">Launches</a>
                <a class="p-2 text-dark" href="/launch/{{fails.launchId}}/">Reports</a>
            </nav>
        {{/if}}

        {{#if passes}}
            <h5 class="my-0 mr-md-auto font-weight-normal">Spec: {{passes.specName}}</h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="/projects">Projects</a>
                <a class="p-2 text-dark" href="/project/{{passes.projectId}}">Launches</a>
                <a class="p-2 text-dark" href="/launch/{{passes.launchId}}/">Reports</a>
            </nav>
        {{/if}}

        <button class="btn btn-outline-primary" style="color: #343a40;" onclick="logout();">Sign out</button>
    </div>

    {{{ body }}}

<script>
    function logout() {
        const form = document.createElement('form');
        form.setAttribute('method', 'post');
        form.setAttribute('action', '/logout');
        form.style.display = 'hidden';
        document.body.appendChild(form);
        form.submit();
    }
</script>
</body>
</html>